.c-header {
	&__inner {
		background: url("../images/header-bg.png") repeat-x center;
		display: flex;
		background-size: cover;
		flex-direction: column;
		min-height: 500px;
		@include mq($from: large) {
			background: url("../images/header-bg-2x.png") repeat-x center;
			background-size: contain;
		}
	}

	&__img-container {
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		& > img {
			width: auto;
		}
		@include mq($from: large) {
			padding-top: 60px;
		}
	}
}
