.c-header {
	&__inner {
		background: url("../images/header-bg.png") repeat-x center;
		background-size: contain;
		display: flex;
		flex-direction: column;
		min-height: 500px;
	}

	&__img-container {
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 60px;
	}
}
