.c-footer {
	background: url("../images/darthvader_2x.jpg") no-repeat top center;
	background-size: 100%;
	min-height: 400px;
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 100px;
	padding-right: 100px;
	color: lightgrey;
	& > * {
		color: currentColor;
	}
	&__inner {
		display: flex;
		justify-content: flex-start;
	}
	&__column {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: calc(100% / 3);
	}
	&__title {
		margin-bottom: 100px;
	}
}
