.c-footer {
	background: url("../images/darthvader.jpg") no-repeat top center;
	background-size: 100%;
	background-color: $color-black;
	min-height: 400px;
	background-size: cover;
	padding: $global-spacing-unit;
	color: $color-footer;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	@include mq($from: large) {
		background: url("../images/darthvader_2x.jpg") no-repeat top center;
		background-color: $color-black;
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 100px;
		padding-right: 100px;
	}
	& > * {
		color: currentColor;
	}
	&__inner {
		@include mq($from: large) {
			display: flex;
			justify-content: flex-start;
		}
	}
	&__column {
		display: inline-block;
		width: 50%;

		@include mq($from: large) {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: calc(100% / 3);
		}
		&:last-child {
			width: 100%;
			display: flex;
			justify-content: space-between;
			margin-top: $global-spacing-unit * 2;
			@include mq($from: large) {
				margin: 0;
				width: calc(100% / 3);
			}
		}
	}
	&__title {
		display: none;
		@include mq($from: large) {
			display: block;
			margin-bottom: 100px;
		}
	}
	&__list.o-list {
		@include mq($until: large) {
			flex-direction: row;
			& > li:not(first-child) {
				margin-left: $global-spacing-unit;
			}
		}
	}
}
