.is-flex {
	display: flex;
}
.is-full-width {
	width: 100%;
}

.is-half-width-desktop {
	@include mq($from: large) {
		width: 50%;
	}
}
.is-mobile {
	@include mq($until: small) {
		width: 100%;
	}
}

.is-one-third-width {
	width: calc(100% / 3);
}
.has-text-center {
	text-align: center;
}

.is-relative {
	position: relative;
}

.is-fixed {
	position: fixed;
}
.is-absolute {
	position: absolute;
}
.is-hidden {
	display: none;
}
