section {
	padding: 50px;
}

header {
	background: url("../images/header-bg.png") repeat-x center;
	background-size: contain;
	min-height: 500px;
	display: flex;
	flex-direction: column;
}
aside {
	margin-left: auto;
}
body {
	background-color: $color-white;
}
html {
	font-family: "Roboto", sans-serif;
	line-height: 1.2;
}
