section {
	position: relative;
	padding: 20px;
	@include mq($from: large) {
		padding: 50px;
	}
}

aside {
	display: none;
	@include mq($from: large) {
		display: block;
		margin-left: auto;
	}
}
body {
	background-color: $color-white;
}
html {
	font-family: "Roboto", sans-serif;
	line-height: 1.2;
}
