.o-list {
	display: flex;
	flex-direction: column;
	@include mq($from: large) {
		align-items: center;
		flex-direction: row;
		justify-content: center;
		&__item:not(:first-child) {
			margin-left: $global-spacing-unit;
		}
	}
}
