.o-media {
	display: flex;
	flex-direction: column;
	@include mq($from: large) {
		flex-direction: row;
		align-items: center;
	}
	&__content {
		padding-top: $global-spacing-unit;
		@include mq($from: large) {
			padding-top: 0;
			padding-left: $global-spacing-unit;
		}
	}
}
